<!DOCTYPE html>
<html lang="zh">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>咨询反馈</title>
    <link  href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
	<h2>等一会，请收藏这个网页</h2>
	<blockquote>
		<p class="lead">我会及时地看到你并在这个页面回答你的，所以请收藏这个页面并不时地过来检查一番吧，当然，我还可能会通过你给我的联系方式联络你，现在，请耐心等待。</p>
		<footer>
			<p>你值得信赖的心理辅导老师</p>
		</footer>
	</blockquote>
	<hr/>
	<p>&copy; 西电自媒体工作室 2014</p>
</div>
</body>
</html>