<!DOCTYPE html>
<html lang="zh">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>咨询反馈</title>
    <link  href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
	<div class="header">
		<h3 class="text-muted">对话</h3>
	</div>
	<div class="jumbotron">{$dat.content}</div>
	<volist name="reply" id="vo">
		<eq name="vo.from" value="1">
		<blockquote style="border-left: 3px solid #449d44">
		<else/>
		<blockquote style="border-left: 0; border-right: 3px solid #449d44; text-align: right;">
		</eq>
			<p class="lead">{$vo.text}</p>
			<footer>
				<eq name="vo.from" value="1">
				<p>{$vo.teacher}</p>
				<else/>
				<p>我</p>
				</eq>
				<p>{$vo.addtime}</p>
			</footer>
		</blockquote>
	</volist>
	<hr/>
	<form class="form" role="form" method="POST" action="<?php echo U('Home/Counseling/submit')?>">
		<input type="hidden" name="cid" value="{$id}" />
		<input type="hidden" name="from" value="{$from}" />
	    <div class="form-group">
		    <textarea class="form-control" rows="3" name="text" id="inputText" placeholder="在这里写要回的话.." required></textarea>
	    </div>
		<eq name="from" value="1">
	    <div class="form-group">
		    <label for="inputTeacher" class="control-label">署名</label>
			<input type="text" name="teacher" id="inputTeacher" class="form-control" value="{$teacher}" style="margin-top:10px" required />
	    </div>
		</eq>
	    <div class="form-group">
	  		<button type="submit" class="btn btn-success">回复</button>
			<eq name="from" value="1">
			<hr/>
	        <p><b>其他联系方式</b></p>
	        <p>邮箱 {$dat.email}<br/>电话 {$dat.phone}<br/>ＱＱ {$dat.qq}</p>
			</eq>
			<hr/>
	  		<p>&copy; 西电自媒体工作室 2014</p>
	    </div>
	</form>
</div>
</body>
</html>